/* Text */
.text-center{
    text-align: center;
}
.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}
/* Colors */
.bg-light-creme{
    background-color: rgb(247, 227, 191);
}
/* Container */
.container {
    max-width: 80%;
    margin: 0 auto;
}
.outer{
    max-width: 100%;
    margin: auto 0;
    background-color: rgb(255, 251, 244)
}
